:root {
	--main-color: #29305e;
	--blue-color: #1b6ed4;
	--orange-color: #ef562d;
	--grey-color: #d8e0ed;
	--light-blue-color: #f2f7fc;
}
@font-face {
	font-family: "Apercu";
	src: url(/fonts/Apercu-Pro-Bold.otf) format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: "Apercu";
	src: url(/fonts/Apercu-Pro-Black.otf) format("opentype");
	font-weight: bolder;
}

@font-face {
	font-family: "Apercu";
	src: url(/fonts/Apercu-Pro-Regular.otf) format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: "Apercu";
	src: url(/fonts/Apercu-Pro-Light.otf) format("opentype");
	font-weight: lighter;
}
@font-face {
	font-family: "Apercu";
	src: url(/fonts/Apercu-Pro-Medium.otf) format("opentype");
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Apercu";
}

.navbar-brand {
	font-size: 28px;
	font-weight: bold;
	color: var(--blue-color) !important;
}
.nav-link {
	font-style: medium;
	color: var(--main-color) !important;
	font-size: 17px;
	margin-left: 40px;
	font-weight: 500;
	padding-right: 0px !important;
}

.mini-card {
	margin: 40px 00px;
}
.icon-box {
	margin-right: 14px;
	margin-bottom: 5px;
}

.title {
	display: flex;
	align-items: center;
}
.title h3 {
	color: var(--main-color);
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 28px;
}
.mini-card p {
	color: #395e8d;
	font-size: 18px;
	font-weight: normal;
}
.title-container {
	margin-bottom: 180px;
}

.title-container h1 {
	font-weight: bold;
	color: var(--main-color);
	font-size: 48px;
}
.title-container p {
	color: #395e8d;
	font-size: 20px;
	font-weight: 500;
}

.header-container {
	height: 533px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.container-handler {
	max-width: 64%;
	margin: 0 auto;
	margin-bottom: 150px;
}
.bg-blue {
	background: var(--light-blue-color);
	height: 750px;
	width: 582px;
	z-index: -1;
	position: absolute;
	top: 0;
	margin-right: 5px;
	display: flex;
	align-items: center;
}

h3 {
	font-size: 48px;
	font-weight: bold;
	color: var(--main-color);
}
.slide {
	height: 100vh;
	width: 99vw;
	margin-bottom: 150px;
	margin-right: 0px;
	padding-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 20px;
	background-color: var(--main-color);
}

.carousel-indicators li:hover {
	background-color: #253964b2;
}
.who-content p {
	font-size: 24px;
	font-weight: normal;
	color: var(--main-color);
	width: 80%;
}
.carousel-item {
	height: 100vh;
}
.btn-global {
	font-size: 24px;
	font-weight: bold;
	width: 264px;
	height: 88px;
	border: none;
	background-color: var(--blue-color);
	color: white;
}

.section-moto-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	background-color: var(--light-blue-color);
	width: 38%;
	height: 68%;
	display: flex;
	flex-direction: column;
	padding-left: 115px;
	padding-top: 115px;
	z-index: 2;
	position: absolute;
	bottom: 0;
}

.content p {
	font-size: 24px;
	font-weight: normal;
	color: var(--main-color);
	width: 80%;
}

.section-moto-container h3 {
	font-size: 36px;
	font-weight: bold;
}

.section-moto-container a {
	text-decoration: none;
	color: var(--blue-color);
}
.burger {
	opacity: 0.66;
	margin-left: 123px;
}
.pizza {
	margin-left: 123px;
	opacity: 0.33;
}

.bg-empty {
	width: 45%;
	min-width: 45vw;
	/* height: calc(100% - 150px); */
	height: 100vh;
	min-height: calc(100% - 150px);
	position: absolute;
	right: 12%;
	top: 0;
	background-color: #efcec5;
	z-index: 1;
	opacity: 0.4;
}
.bg-empty-gate {
	width: 100%;
	min-width: 45vw;
	/* height: calc(100% - 150px); */
	height: 75vh;
	position: absolute;
	margin-top: 40px;
	background-color: #efcec5;
	z-index: -1;
	opacity: 0.4;
}

.moto {
	background-image: url(imgs/moto.svg);
	margin-top: 21vh;
}
.smart-home {
	width: 43%;
	float: right;
	margin-right: 36%;
	margin-top: 100px;
}

.map-container {
	left: 0;
	margin-left: 0px !important;
	z-index: -1 !important;
}
.blockchain-container .bg-empty {
	left: 12.5%;
	z-index: -1;
}

.skif-gate {
	width: 80%;
	margin-left: 80px;
}
.section-map-container {
	width: 100%;
	height: 100%;
}
.section-map-container .content {
	bottom: 0;
	width: 60%;
	right: 0;
	align-items: flex-start;
	justify-content: center;
	padding: 0px 35px 0 70px;
	height: 80%;
}
.section-map-container .content h4,
.section-map-container .content p,
.section-map-container .content a {
	margin-left: 30px;
}
.section-map-container .img-container {
	left: -350px;
}

.section-home-container .content {
	bottom: 100px;
	width: 60%;
	left: 0;
	align-items: flex-start;
	justify-content: center;
	padding: 0px 35px 0 70px;
}
.smart-home-button {
	margin-left: -255px;
}
.btn-gate {
	margin-left: 200px;
}
.btn-aug-reality {
	margin-left: -270px;
}

.gate .content {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40%;
}
.gate {
	margin: 0;
}
.blockchain-container {
	width: 100%;
	height: 100%;
}
.blockchain-container .content {
	bottom: 100px;
	width: 60%;
	right: 0px;
	align-items: flex-start;
	justify-content: center;
	padding: 0px 35px 0 125px;
	z-index: 4;
}
.section-home-container {
	width: 100%;
	height: 100%;
}
.section-home-container .img-container {
	height: 100%;
	margin-left: 20px;
}
.blockchain {
	width: 68.1% !important;
	float: left;
	margin-right: 25.5%;
	margin-top: 10vh;
}
.img-container {
	position: absolute;
	z-index: 4;
	/* margin-left: 65vh; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 60%;
}
.gate .img-container {
	width: 40%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-left: 70px;
	margin-top: 80px;
}
.section-home-container h4 {
	margin-top: 0px;
	padding-top: 0px;
}
.section-home-container p {
	font-size: 20px;
}

.reality .img-container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.reality .img-container .reality-img {
	height: 100%;
	width: 51%;
	padding-left: 10px;
	margin-right: 440px;
}
.icons-container {
	align-items: center;
	margin-bottom: 64px;
}
.partner-handler {
	max-width: 64%;
	margin: 0 auto;
	margin-bottom: 64px;
}
h4 {
	font-size: 36px;
	font-weight: bold;
	color: var(--main-color);
}
.contact-container {
	padding: 0px 50px;
	max-width: 64%;
	margin: 0 auto;
	margin-bottom: 150px;
}

.telegram {
	display: flex;
	align-items: center;
}
.telegram p {
	margin-left: 10px;
}
.contacts p {
	font-size: 17px;
	font-weight: 500;
	color: var(--main-color);
	margin-bottom: -3px;
}
.form-container {
	font-size: 17px;
	font-weight: 500;
	color: var(--main-color);
	margin-bottom: 0;
}
.form-container h4 {
	margin-left: 10px;
}

textarea {
	resize: none;
	border: 1.5px solid #d8e0ed;
	font-size: 17px;
	color: var(--main-color);
	font-weight: 450;
	padding: 16px 12px;
	background-color: #fdfdfd;
	width: 100%;
}
textarea::placeholder {
	font-size: 17px;
	color: var(--main-color);
	font-weight: 400;
}
.email {
	width: 100%;
	display: flex;
	padding: 0;
}
.email input {
	width: 73%;
	border: 1.5px solid #d8e0ed;
	font-size: 17px;
	color: var(--main-color);
	font-weight: 450;
	padding: 8px 12px;
	background-color: #fdfdfd;
	height: 40px;
}
.email input::placeholder {
	font-size: 17px;
	color: var(--main-color);
	font-weight: 400;
}
.email button {
	width: 150px;
	height: 40px;
	background-color: var(--blue-color);
	color: white;
	border: none;
	font-size: 17px;
	font-weight: 500;
	margin-left: 24px;
}
footer {
	width: 100%;
	height: 144px;
	background-color: var(--main-color);
}

/* anumation */
.wordCarousel {
	font-size: 36px;
	font-weight: 700;
	color: var(--main-color);
	display: flex;
	margin-top: 50px;
}
.wordCarousel div {
	overflow: hidden;
	position: relative;
	height: 45px;
	padding-top: 10px;
	margin-top: -10px;
}
.wordCarousel div li {
	font-weight: 700;
	padding: 0 10px;
	height: 45px;
	margin-bottom: 45px;
	display: block;
}

.flip3 {
	animation: flip3 6s linear infinite;
}

@keyframes flip3 {
	0% {
		margin-top: -270px;
	}
	5% {
		margin-top: -180px;
	}
	33% {
		margin-top: -180px;
	}
	38% {
		margin-top: -90px;
	}
	66% {
		margin-top: -90px;
	}
	71% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}

/* Media Query */
@media (max-width: 1770px) {
	.title-container h1 {
		font-size: 40px;
	}
	.title-container p {
		font-size: 15px;
	}
	h4 {
		font-size: 28px;
	}
}

@media (max-width: 1478px) {
	.nav-link {
		margin-left: 20px;
	}
	.container-handler,
	.contact-container {
		max-width: 70%;
	}
	.title-container h1 {
		font-size: 35px;
	}
	.title h3 {
		font-size: 20px;
	}
	.mini-card p {
		font-size: 16px;
	}
	h4 {
		font-size: 24px;
	}
}

@media (max-width: 1195px) {
	.nav-link {
		margin-left: 20px;
	}
	.container-handler,
	.contact-container {
		max-width: 78%;
	}
	.title-container h1 {
		font-size: 30px;
	}
	.icon-box {
		margin-right: 5px;
	}
}
@media (max-width: 1076px) {
	.nav-link {
		margin-left: 10px;
	}
	.title-container h1 {
		font-size: 28px;
	}
	.title-container p {
		font-size: 18px;
	}
	.title h3 {
		font-size: 18px;
	}
}
@media (max-width: 987px) {
	.title-container {
		width: 100%;
		margin-top: 150px;
	}
	.title-container h1 {
		font-size: 64px;
	}
	.title-container p {
		font-size: 36px;
	}
	.bg-blue {
		position: relative;
		width: 100vw;
		height: 100%;
		margin-top: 130px;
	}
	h3 {
		font-size: 64px;
	}
	.contact-container {
		max-width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 150px;
	}
	.contact-container .row {
		flex-direction: column;

		justify-content: center;
	}
	.contact-container h4 {
		font-size: 64px;
		width: 500px;
	}
	.form-container,
	.contacts {
		margin: 50px 0 0 50px;
	}
	.form-container {
		padding: 0;
	}
	textarea {
		width: 144%;
		height: 400px;
	}
	.send-btn-text {
		display: none;
	}
	.email {
		width: 144%;
	}
}
